html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: rgb(235 225 237);
  margin-bottom: 30px;
}

#container {
  width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 4px;
}

#bingo-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0.3rem;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.cell {
  width: 5rem;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drawButton {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 4rem;
  width: 20rem;
  font-size: 1.5rem;
  background-color: #391b5b;
  color: rgb(235 225 237);
  border: none;
  border-radius: 4px;
}

.highlight {
  background-color: #fcc00d;
  border: 1px solid #db952f;
  border-radius: 4px;
}

#otherBoardsContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#userBoards {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#input-and-button-container {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.board {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  margin-inline: auto;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.customClass {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 4px;
  justify-content: center;
  padding-bottom: 0.3rem;
}

#inputContainer {
  margin-bottom: 2rem;
}
